<body>
    <div class="uk-margin">

                                <nav class="uk-navbar">

                                    <a class="uk-navbar-brand" href="#">Brand</a>

                                    <ul class="uk-navbar-nav">
                                            <li><a href=""><i class="uk-icon-home"></i> Главная</a></li>
                                        <li class="uk-parent uk-active" data-uk-dropdown="">
                                            <a href="#"><i class="uk-icon-home"></i> Клиенты</a>

                                            <div class="uk-dropdown uk-dropdown-navbar">
                                                <ul class="uk-nav uk-nav-navbar">
                                                    <li><a href="#">Группы</a></li>
                                                    <li><a href="#">Добавить клиента</a></li>
                                                </ul>
                                            </div>
                                        </li>
                                    </ul>
                                    
                                    <div class="uk-navbar-content uk-navbar-flip  uk-hidden-small">
                                        <div class="uk-button-group">
                                            <a class="uk-button uk-button-danger" href="#">Link</a>
                                            <button class="uk-button uk-button-danger">Button</button>
                                        </div>
                                    </div>

                                </nav>

                            </div>
        <div class="uk-grid uk-grid-small">
            <div class="uk-width-7-10"><div class="uk-panel uk-panel-box">график</div></div>
            <div class="uk-width-3-10"><div class="uk-panel uk-panel-box">Количество авторизированных</div></div>
        </div>
</body>