<!DOCTYPE html>
 <html lang="en-gb" dir="ltr" class="uk-height-1-1 uk-notouch"><head>
        <meta charset="utf-8">
        <title>Login layout example - UIkit documentation</title>
        <link rel="shortcut icon" href="<%basepath%>/template/favicon.ico" type="image/x-icon">
        <link rel="apple-touch-icon-precomposed" href="images/apple-touch-icon.png">
        <link rel="stylesheet" href="<%basepath%>/template/css/uikit.gradient.css">
        <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
        <script src="<%basepath%>/template/js/uikit.js"></script>
    </head>
    <body class="uk-height-1-1">


